/* Universal Styles */

html {
  font-size: 18px;
  line-height: 1.4;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* Header */

header {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  background-color: cadetblue;
  color: white;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

nav div {
  display: flex;
  align-items: center;
}

.menu ul {
  display: flex;
  flex-direction: row;
}
